.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_info > * {
    margin-bottom: 20px;
}
.user_avatar img {
    border-radius: 50%;
}
.user_link a {
    color: #0064EB;
}
.user_followers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.repos_link {
    color: #0064EB;
    font-weight: bold;
    background-color: #a4c9ff;
    padding: 5px 10px;
    border-radius: 10px;
}