.user_info {
    display: flex;
    flex-direction: column;
}
.user_info > * {
    margin-bottom: 20px;
}
.user_avatar img {
    border-radius: 50%;
}
.user_name {
    font-size: 26px;
    font-weight: bold;
}
.user_link a {
    color: #0064EB;
}
.user_followers {
    display: flex;
    justify-content: space-between;
}
.user_followers span {
    margin-right: 20px;
}