.repo_item {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px 20px;
    border-radius: 5px;
    width: 870px;
}
.repo_title a {
    color: #0064EB;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.repo_descriptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}